.banner{
    background: url("https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}